<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="fileSystemSection"
                 type="FileSystemMonitorConfig.FileSystemMonitorConfigSection, FileSystemMonitorConfig"/>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <fileSystemSection culture="de-BE">
        <directories>
            <directory path="D:\"/>
            <directory path="E:\"/>
        </directories>
        <rules>
            <rule fileTemplate="aslfjasdf" destFolder="asfkljsadfl"/>
        </rules>
    </fileSystemSection>
</configuration>