<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="fileSystemSection"
                 type="FileSystemMonitorConfig.FileSystemMonitorConfigSection, FileSystemMonitorConfig"/>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <fileSystemSection culture="ru-RU">
        <directories>
            <directory path="D:\"/>
            <directory path="E:\"/>
        </directories>
        <rules defaultDir="E:\createdFiles">
            <rule filePattern="1.*" isOrderAppended="false" isDateAppended="false" destFolder="E:\newFiles1"/>
            <rule filePattern="2.*" isOrderAppended="false" isDateAppended="true" destFolder="E:\newFiles2"/>
            <rule filePattern="3.*" isOrderAppended="true" isDateAppended="false" destFolder="E:\newFiles3"/>
            <rule filePattern="4.*" isOrderAppended="true" isDateAppended="true" destFolder="E:\newFiles4"/>
        </rules>
    </fileSystemSection>
</configuration>